<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>

  <!-- Regenerator Runtime for async/await support in older browsers -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!-- Content Security Policy (CSP) -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">

  <!-- Import Map -->
  <meta name="importmap-type" content="systemjs-importmap" />
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "single-spa-layout": "https://cdn.jsdelivr.net/npm/single-spa-layout@1.1.0/dist/single-spa-layout.min.js",
        "@testOrg/root-config": "//localhost:9000/testOrg-root-config.js",
        "@Angularpro": "//localhost:4201/main.js",
        "@angular-prject-MF": "//localhost:4203/main.js"
      }
    }
  </script>

  <style>
    .header{
      text-align: center;
  color: red;
  font-size: 1.8rem;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 102vh;
      width: 100vw;
      flex-direction: row;
      gap: 10vw;
    }

    .container1 {
      height: 100%;
      width: 100%;
      border: 1px solid #ee238d;
      margin: 6rem 1rem 0rem 3em;
      border-radius: 2rem;
    }

    h2 {
      text-align: center;
    }
  </style>
  <!-- Preload single-spa -->
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
  

  <!-- Import Map Overrides for development -->
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>

  <!-- Load SystemJS based on environment -->
  <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
      <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
      <% } %>

</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <!-- Initial script to load the root config -->
  <script>
    System.import('@testOrg/root-config');
  </script>

  <!-- Import Map Overrides (for development) -->
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  <!-- Single-SPA Router Configuration -->
  <script>
    // System.import('single-spa-router').then(() => {
    //   singleSpa.start();
    // });
 
  </script>
  
</body>

</html>